.kaffeesorte-filter-liste {
    padding: 20px;
}

.kaffeesorten-list {
    margin-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.kaffeesorte-card {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.coffee-icon {
    font-size: 24px;
    color: #6b705c;
}

.kaffeesorte-details {
    flex: 1;
}

.card-actions {
    display: flex;
    gap: 10px;
}


@media only screen
and (device-width: 375px)
and (device-height: 812px)
and (-webkit-device-pixel-ratio: 3) {

    .kaffeesorten-list {
        margin-top: 20px;
    }

    .kaffeesorte-card {
        padding: 5px;

    }

    .kaffeesorte-details h3 {
        font-size: 1.2em;
    }

    .kaffeesorte-details p,
    .card-actions button {
        font-size: 0.9em;
    }

}



